body{
margin:0;
background:#f3e3c5;
color:#111;
font-family:"Arial", sans-serif;
}

.page{
max-width:720px;
margin:auto;
padding:85px 35px 30px;
}

.top{
display:flex;
justify-content:space-between;
align-items:center;
}

h1{
font-size:25px;
margin:0;
font-weight:700;
}

.icons{
display:flex;
gap:18px;
}

.icons svg{
width:23px;
height:23px;
}

.icons a{
color:#111;
}

.intro{
margin-top:65px;
font-size:20px;
line-height:1.55;
max-width:650px;
}

section{
margin-top:34px;
}

h2{
font-size:20px;
margin-bottom:20px;
}

h3{
font-size:16px;
margin-bottom:5px;
}

p,li{
font-size:17px;
line-height:1.55;
}

ul{
list-style:none;
padding:0;
}

li{
margin-bottom:12px;
}

li:before{
content:"–";
color:#b56a2a;
margin-right:12px;
}

a{
color:#111;
text-decoration-color:#b56a2a;
text-decoration-thickness:2px;
text-underline-offset:3px;
}

footer{
margin-top:80px;
display:flex;
justify-content:space-between;
font-size:13px;
color:#555;
}

.icons a{
color:#111;
text-decoration:none;
}
